{% extends "base.html" %}
{% block style %}
<style>
    .productsbody{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     padding: 20px;
     max-width: 800px;
        
    
        }
    .categorybox{
        width: 95%;
        height:200px
        background-color: rgba(0, 0, 0, 0.534);
        overflow: hidden;
        margin-bottom: 20px;
    }
    .imgdiv{
        width: 100%;
    }
    .detailsdiv{
        width: 100%;
        color: white;
    }
</style>
{% endblock style %}
{% block body %}
    <div class="productsbody">
        {% for category in categorys %}
        <div class="categorybox">
            <img class="imgdiv" src="/media/{{category.Category_img}}" alt="">
            <div class="detailsdiv">
                <div class="ddn">
                    {{category.Category_name}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock body %}