<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>file_1705596914963</title>
      <meta name="author" content="ADMIN"/>
      <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
         .s1 { color: #F79546; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 21pt; }
         .s2 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt; }
         .s3 { color: #F79546; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
         .s5 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
         .s6 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
         .s7 { color: #4F81BC; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 12pt; }
         .s8 { color: #4F81BC; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 12pt; }
         .s10 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 12pt; }
         .s11 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
         .s12 { color: #C00000; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
         .s14 { color: #4F81BC; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
         .s15 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
         .s16 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
         .s17 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 14pt; }
         .s18 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
         .s19 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 10pt; }
         .s20 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
         .s21 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8.5pt; }
         .s22 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
         table, tbody {vertical-align: top; overflow: visible; }
      </style>
   </head>
   <body>
      <table style="border-collapse:collapse;margin-left:5.85pt" cellspacing="0">
         <tr style="height:142pt">
            <td style="width:525pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="4">
               <p class="s1" style="padding-left: 168pt;text-indent: 0pt;line-height: 24pt;text-align: left;">S.P. INDUSTRIES</p>
               <p class="s2" style="padding-left: 123pt;padding-right: 122pt;text-indent: 0pt;line-height: 14pt;text-align: center;">Manufactures of:</p>
               <p class="s3" style="padding-left: 123pt;padding-right: 122pt;text-indent: 0pt;text-align: center;">PAINT MACHINERY &amp; CHEMICALS PLANT EQUIPMENTS <u>All Kinds of: </u> HYDRAULICS PRESS MACHINERY</p>
               <p style="padding-left: 123pt;padding-right: 122pt;text-indent: 0pt;line-height: 11pt;text-align: center;"><span class="s5" style=" background-color: #FF0;">GSTIN: 27ABRFS2663P1Z7</span></p>
               <p class="s6" style="padding-left: 123pt;padding-right: 122pt;text-indent: 0pt;line-height: 14pt;text-align: center;">Factory: 26 Jai Matadi Ind Est, opp. Old Syndicate bank,</p>
               <p class="s6" style="padding-left: 58pt;padding-right: 58pt;text-indent: 0pt;text-align: center;">Behind Ekvira Gas Godown Phatak Road, Bhayander (E), Dist. Thane-401105.</p>
               <p class="s6" style="padding-left: 58pt;padding-right: 58pt;text-indent: 0pt;text-align: center;">Mobile: 9821817627/9820270855/ Tel No: 28180754/28046846 Fax No: 28152877</p>
               <p class="s8" style="padding-left: 13pt;padding-right: 59pt;text-indent: 0pt;text-align: center;"><a href="mailto:spindustries44@yahoo.com" style=" color: black; font-family:&quot;Times New Roman&quot;, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt;" target="_blank">E-Mail: </a>spindustries44@yahoo.com <a href="mailto:spengineeringco@rediffmail.com" style=" color: #00F; font-family:&quot;Times New Roman&quot;, serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt;" target="_blank">/ </a><a href="mailto:spengineeringco@rediffmail.com" class="s7" target="_blank">spengineeringco@rediffmail.com</a></p>
            </td>
         </tr>
         <tr style="height:116pt">
            <td style="width:525pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="4">
               <p class="s10" style="padding-left: 123pt;padding-right: 122pt;text-indent: 0pt;line-height: 15pt;text-align: center;">Quotation No<span class="s11">. 94</span></p>
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p class="s11" style="padding-left: 5pt;padding-right: 46pt;text-indent: 0pt;text-align: left;"><u>CUSTOMER</u>-<span class="s12">Harind Chemicals and Pharmaceuticals Pvt Ltd    </span>Date<u>: </u>02/02/2023 Mob- <span style=" color: #4F81BC;">7030376046</span></p>
               <p class="s11" style="padding-left: 32pt;padding-right: 262pt;text-indent: -27pt;text-align: left;">Add: <span class="s14">Unit Nos.C 1804 to C 1807,Kailas Business Park, Vikhroli-Hiranandani Link Road,Vikhroli West</span></p>
            </td>
         </tr>
         <tr style="height:14pt">
            <td style="width:525pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="4">
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
            </td>
         </tr>
         <tr style="height:30pt">
            <td style="width:50pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s15" style="padding-left: 4pt;padding-right: 7pt;text-indent: 0pt;line-height: 14pt;text-align: center;">Sr. No.</p>
            </td>
            <td style="width:336pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s15" style="padding-left: 110pt;text-indent: 0pt;line-height: 14pt;text-align: left;">DESCRIPTION</p>
            </td>
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s15" style="padding-right: 17pt;text-indent: 0pt;line-height: 14pt;text-align: right;">QTY</p>
            </td>
            <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s15" style="padding-left: 17pt;text-indent: 0pt;line-height: 14pt;text-align: left;">Price</p>
               <p class="s16" style="padding-left: 5pt;text-indent: 0pt;line-height: 15pt;text-align: left;">(Amount)</p>
            </td>
         </tr>
         <tr style="height:350pt">
            <td style="width:50pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p class="s15" style="padding-left: 4pt;padding-right: 4pt;text-indent: 0pt;text-align: center;">(1)</p>
            </td>
            <td style="width:336pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p class="s17" style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;line-height: 16pt;text-align: left;">5 HP. High Speed Stirrer.</p>
               <p class="s18" style="padding-left: 5pt;text-indent: 0pt;line-height: 14pt;text-align: left;">Motor 5 HP. 1440 RPM. Hindustan Make FLP</p>
               <p class="s18" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">S.S. Shaft Guide Safety Ring,</p>
               <p class="s18" style="padding-left: 5pt;padding-right: 20pt;text-indent: 0pt;text-align: left;">Bearing Housing Blade With 1 Tone Chain Pulley Complete Working Cost.</p>
               <p class="s19" style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Bank Details</p>
               <p class="s20" style="padding-left: 5pt;padding-right: 232pt;text-indent: 0pt;text-align: left;">S. P. Industries HDFC Bank</p>
               <p style="padding-left: 5pt;padding-right: 164pt;text-indent: 0pt;text-align: left;"><span class="s20">Bhayander east branch RTGS/NEFT IFSC: HDFC0001116 AC no. </span><span class="s5" style=" background-color: #FF0;">11162020000702</span></p>
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p class="s19" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Note:</p>
               <p class="s20" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">GST Extra 18%</p>
               <p class="s20" style="padding-left: 5pt;padding-right: 76pt;text-indent: 0pt;text-align: justify;">Installation Charges Extra &amp; Transport Charges Extra Advance 60% and Balance Payment Against Delivery. Delivery Period: 30 to 45 Days</p>
               <p class="s20" style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Warrantee 1 Year. If Any Manufacturing Defect.</p>
               <p class="s20" style="padding-left: 5pt;padding-right: 6pt;text-indent: 0pt;text-align: left;">Interest charged at 18% on all unpaid amount after two weeks from the date of deliver. Our responsibility ceases once goods are cleared from our work.</p>
               <p style="padding-left: 5pt;padding-right: 103pt;text-indent: 0pt;text-align: left;"><span class="s20">Quotation Valid For 15 Days From Today. GSTIN: </span><span class="s5" style=" background-color: #FF0;">27ABRFS2663P1Z7</span></p>
            </td>
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p class="s15" style="padding-right: 15pt;text-indent: 0pt;text-align: right;">1 Nos.</p>
            </td>
            <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p class="s15" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">56,000/-</p>
            </td>
         </tr>
         <tr style="height:53pt">
            <td style="width:525pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="4">
               <p class="s21" style="padding-right: 34pt;text-indent: 0pt;line-height: 13pt;text-align: right;">For <span class="s22">S. P. INDUSTRIES</span><span class="s6">.</span></p>
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p class="s21" style="padding-right: 50pt;text-indent: 0pt;line-height: 9pt;text-align: right;">PARTNER</p>
            </td>
         </tr>
      </table>
   </body>
</html>