{% extends "termsbase.html" %}
{% block maintitle %}Terms & Conditions{% endblock maintitle %}
{% block descrip %}Welcome to SDM enterprises (“we,” “our,” or “us”). By accessing and using our website sdm.in, you agree to the following terms and conditions. If you do not agree with any part of these terms, please do not use our website.{% endblock descrip %}
{% block maincontent %}
<h3>1. General Information</h3>
<ul>
    <li>This website serves as an informational platform for our products, including branded motors, gearboxes, and other industrial hardware.</li>
    <li>We do not sell products directly through this website. Users can submit a quotation request through our online form, after which our team will contact them with details.</li>
</ul>

<h3>2. Use of the Website</h3>
<ul>
    <li>You may use this website for informational purposes and to submit quotation requests.</li>
    <li>You agree not to misuse or disrupt the functionality of the website.</li>
</ul>

<h3>3. Quotation Requests</h3>
<ul>
    <li>Submitting a quotation request does not create a binding contract.</li>
    <li>Prices, availability, and product details are subject to change based on stock and market conditions.</li>
    <li>We reserve the right to reject any quotation request at our discretion.</li>
</ul>

<h3>4. Intellectual Property</h3>
<ul>
    <li>All content, including text, images, and logos, is the property of SDM and is protected by copyright laws.</li>
</ul>
{% endblock  %}